include ../../components/botton/botton
include ../../components/assessments/assessments
include ../../components/gallery/gallery
include ../../components/texts/texts
include ../../components/heart/heart
include ../../components/price/price


include ../../components/product/product
