include ./__shared__/dependencies

doctype html
html(lang="pt-BR")
  head
    meta(charset="utf-8")
    title Airbnb

    link(rel="stylesheet" href="../styles/main.scss")
  body
    //+product({
      assessments: '7',
      assessments: '4.63',
      price: '244',
      botton: 'Superhost',
      gallery: 'https://a0.muscache.com/im/pictures/fffe6fb9-9d8c-45d9-938b-022c65fb2653.jpg?im_w=720',})//
