<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Fun Project</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>

    <form name="form-users">
        <div class="c-cadastro-input-group">
            <h2 class="c-cadastro-title"> Cadastrar Usuário </h2>
            <div class="c-cadastro-input-firstname">
                <label for="firstname">Primeiro Nome:</label>
                <input id="firstname" type="text" name="firstname" placeholder="Digite o primeiro nome" required>
            </div>
            <div class="c-cadastro-input-lastname">
                <label for="lastname">Sobrenome:</label>
                <input id="lastname" type="text" name="lastname" placeholder="Digite o sobrenome" required>
            </div>
            <div class="c-cadastro-input-email">
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" placeholder="Digite o email" required>
            </div>
            <div class="c-cadastro-input-cep">
                <label for="number">CEP:</label>
                <input id="cep" type="number" name="cep" placeholder="CEP" required>
            </div>
            <div class="c-cadastro-input-address">
                <label for="address">Endereço:</label>
                <input id="address" type="text" name="address" placeholder="Digite o endereço" required>
            </div>
            <div class="c-cadastro-input-number">
                <label for="number">Número:</label>
                <input id="number" type="number" name="number" placeholder="Número" required>
            </div>
            <div class="c-cadastro-input-uf">
                <label for="address">Digite o UF:</label>
                <input id="uf" type="text" name="uf" placeholder="Digite o UF" required>
            </div>
            <div class="c-cadastro-input-city">
                <label for="address">Cidade:</label>
                <input id="city" type="text" name="city" placeholder="Digite a cidade" required>
            </div>
            <div class="c-cadastro-input-cpf">
                <label for="cpf">CPF:</label>
                <input id="cpf" type="number" name="cpf" placeholder="CPF" required>
            </div>
            <div class="c-cadastro-input-age">
                <label for="number">Idade:</label>
                <input id="age" type="number" name="age" placeholder="Digite a idade" required>
            </div>
            <div class="c-cadastro-input-tel">
                <label for="number">Telefone:</label>
                <input id="tel" type="tel" name="tel" placeholder="(xx) xxxx-xxxx" required>
            </div>
            <div class="c-cadastro-input-cadastrar" id="btn">
                <button>Cadastrar</button>
            </div>
        </div>
    </form>
    <ul id="errors"></ul>
    <footer class="c-footer">
        <p><a class="c-copyright" target="_blank" href="https://www.linkedin.com/in/annecarv/"> ©Anne Carvalho. Todos os
                direitos reservados.</a></p>
    </footer>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <script src="scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async function eventos() {
            const params = new URLSearchParams(window.location.search)
            let userId = null
            if (params.has('id')) {
                userId = params.get('id')
            }
            if (userId) {
                const user = await getUser(userId).then(async function (result) {
                    if (result.status !== 200) {
                        console.log(await result.text())
                        return
                    }
                    const resUser = await result.json()
                    carregarDados(resUser)
                })
                    .catch(function (error) {
                        console.log(error)
                    })
                }
            const buttonSubmit = document.getElementsByClassName('c-cadastro-input-cadastrar')[0]
            buttonSubmit.addEventListener('click', SubmeterDados)
        })</script>
</body>

</html>