<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Fun Project</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <section class="c-cadastro">
        <h2 class="c-cadastro-usuarios"> Insira seus dados </h2>
        <form action="#" method="get" class="c-cadastro-usuariosformulario">
            <label for="form-newsletter__label" class="form-newsletter__label">Email</label>
            <input id="email-newsletter" name="email-newsletter" type="email" class="form-newsletter__campo">
            <button type="submit" class="form-newsletter__botao">Enviar</button>
        </form>

    </section>
        <ul class="c-cadastro-user">
            <li>Nome</li>
        </ul>
    <script src="scripts.js"></script>
</body>

</html>