@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Nunito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-overflow: ellipsis;
}

body {
    background-color: #f0ede7;
}

.c-cadastro-input-group {
    /*display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;*/
    display: grid;
    justify-self: center;
    background-color: #ffffff;
    width: 500px;
    height: 600px;
    padding: 20px;
    margin-top: 12%;
    margin-left: 34%;
    text-align: justify;
    border-radius: 10px;
}

.c-card {
    display: flex;
    flex-wrap: wrap;
    margin: 20%;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    background-color: #bbf19b;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.c-card-user {
    background-color: rgb(126, 90, 161);
}

.c-card-user-icon {
    align-items: center;
    width: 500px;
    background-color: rgb(141, 182, 141);
    border-radius: 8px;
    margin: 8px;
}

.c-card-li {
    background-color: aqua;
    width: 70%;
    margin: 16px;
    padding: 8px;
    list-style-type: none;
}

button, .c-cadastro-edit, .c-cadastro-delete {
    /*apenas estilizações padrões*/
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #EEB853;
    border: none;
}

/*Ajeitar margens e posicionamentos, não está funcionando, overflow tb nao*/
.c-cadastro-edit-txt, .c-cadastro-delete-txt {

}

.c-cadastro-delete-txt:active,
.c-cadastro-delete-txt:hover {
    color: #FFFFFF;
    background-color: #f21f1f;
    border: 2px solid #B37F00;
    text-decoration: none;
}

.c-cadastro-button-edit__position, .c-cadastro-button-delete__position {
    width: 20%;
    margin: 8px;
    padding: 8px;
}

/* Refatorar o elemento button em SASS*/
button:active,
button:hover {
    /*-webkit-transition: background-color 0s ease-in-out,color 0s ease-in-out,border 0s ease-in-out;
    transition: background-color 0s ease-in-out,color 0s ease-in-out,border 0s ease-in-out;
    -webkit-text-decoration: none;*/
    color: #FFFFFF;
    background-color: #B37F00;
    border: 2px solid #B37F00;
    text-decoration: none;
}

.c-cadastro-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    border-radius: 2px;
    padding: 2px;
    margin: 22px;
    text-align: center;
    border-bottom: 1px solid rgb(132, 131, 131);
}

.c-footer {
    display: flex;
    background: #fcaf14;
    width: 100%;
    height: 20%;
    position: absolute;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: end;
    margin-top: 2%;

}

/* Refatorar o elemento copyright em SASS*/
.c-copyright {
    font-family: system-ui;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    text-decoration: none;
}

a.c-copyright:hover {
    color: rgb(255, 182, 18);
}

/* link que ainda não foi visitado */
a.c-copyright:link {
    color: #ffffff;
}

/* link que foi visitado */
a.c-copyright:visited {
    color: #ffffff;
}

/* mouse over */
a.c-copyright:hover {
    color: #000000;
}

/* link selecionado */
a.c-copyright:active {
    color: #ffffff;
}

