<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Fun Project</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <section class="c-card" id="teste">Teste HTML</section>
    <footer class="c-footer">
        <p><a class="c-copyright" target="_blank" href="https://www.linkedin.com/in/annecarv/"> ©Anne Carvalho.
                Todos os direitos reservados.</a></p>
    </footer>
    <script src="component-card.js"></script>
    <script src="scripts.js"></script>
    <script>createList();</script>
</body>

</html>