<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Fun Project</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <section class="c-card" id="c-card-section">

    </section>
    <footer class="c-footer">
        <p><a class="c-copyright" target="_blank" href="https://www.linkedin.com/in/annecarv/"> ©Anne Carvalho.
                Todos os direitos reservados.</a></p>
    </footer>
    <script src="component-card.js"></script>
    <script src="scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async function eventos() {
            const params = new URLSearchParams(window.location.search)
            let userId = null
            if (params.has('id')) {
                userId = params.get('id')
            }
            if (userId) {
                const user = await getUser(userId).then(async function (result) {
                    if (result.status !== 200) {
                        console.log(await result.text())
                        return
                    }
                    const resUser = await result.json()
                    console.log(resUser)
                    createCard(resUser)
                })
                    .catch(function (error) {
                        console.log(error)
                    })
            } else {
            const viewUser = document.createElement('h1')
            viewUser.appendChild(document.createTextNode('Usuário não localizado'))

            const handler = document.getElementById("c-card-section")
            handler.appendChild(viewUser)
            }
        })</script>
    </script>
</body>
</html>